<h1>Shopping Cart With Signal</h1>


<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
  </thead>
  <tbody>
      @for(product of products(); track product.id) {
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
        
          <td>
            <select
            [(ngModel)]="product.quantity"
            (change)="onQuantitySelected(product)">
            <option disabled value="">--Select a quantity--</option>
            @for(q of  qtyAvailable(); track q) {
              <option>
                {{ q }}
              </option>
            }
            
          </select>
          </td>
          <td>{{product.price}}</td>
        </tr>
      }
    
  </tbody>
</table>

<div class="">
  <div class="price-summary">
    <h3>Price Summary</h3>
    <div class="price-row">
      <span>Sub Total Price:</span>
      <span>{{subTotal()}}</span>
    </div>
    <div class="price-row">
      <span>Discounted Price:</span>
      <span>{{totalDiscount()}}</span>
    </div>
    <div class="price-row">
      <span>Total:</span>
      <span>{{total()}}</span>
    </div>
  </div>
</div>
